# Example paths only. Supply your own values privately before deployment.
APPDATA_ROOT=/path/to/docker/appdata
DOWNLOADS_ROOT=/path/to/downloads
MEDIA_ROOT=/path/to/media
MOVIES_ROOT=/path/to/movies
TV_ROOT=/path/to/tv
MUSIC_ROOT=/path/to/music
HOLIDAY_MUSIC_ROOT=/path/to/holiday-music
MUSIC_INCOMING_ROOT=/path/to/music-incoming
BOXING_ROOT=/path/to/boxing
KICKBOXING_ROOT=/path/to/kickboxing
MMA_ROOT=/path/to/mma
WRESTLING_ROOT=/path/to/wrestling
SPORTS_ROOT=/path/to/sports
UFC_ROOT=/path/to/ufc
NFL_ROOT=/path/to/nfl
NCAAF_ROOT=/path/to/ncaaf
WWE_PPV_ROOT=/path/to/wwe-ppv
AEW_PPV_ROOT=/path/to/aew-ppv
AAA_ROOT=/path/to/aaa
PUID=1000
PGID=1000
TZ=Etc/UTC
